<% content_for(:title) { "Build Status" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Build" data-view="Text" data-title="Licences - CI Status"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-licences-master" data-view="CircleCi" data-title="Licences"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-licences-feature-specs-master" data-view="CircleCi" data-title="Licences Feature Specs"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-licences-api-master" data-view="CircleCi" data-title="Licences API"></div>
    </li>

  </ul>
</div>