<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [400, 400]
  Dashing.numColumns = 4
});
</script>

<% content_for :title do %>Health<% end %>
<div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="licences mock" data-view="ServerStatusSquares" data-title="Licences Mock"></div>
      </li>
      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="licences stage" data-view="ServerStatusSquares" data-title="Licences Stage"></div>
      </li>
      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="licences preprod" data-view="ServerStatusSquares" data-title="Licences Pre-Prod"></div>
      </li>
      <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="licences prod" data-view="ServerStatusSquares" data-title="Licences Prod"></div>
      </li>

      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="batchload stage" data-view="ServerStatusSquares" data-title="Batchload Stage"></div>
      </li>
      <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="batchload preprod" data-view="ServerStatusSquares" data-title="Batchload Pre-Prod"></div>
      </li>
      <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="batchload prod" data-view="ServerStatusSquares" data-title="Batchload Prod"></div>
      </li>
    </ul>
</div>