<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [350, 400]
        Dashing.numColumns = 3
    });
</script>

<% content_for(:title) {"Overview"} %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-licences-master" data-view="CircleCi" data-title="Licences"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-nomis-batchload-master" data-view="CircleCi" data-title="Batchload"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-licences-pdf-master" data-view="CircleCi" data-title="PDF"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="licences stage" data-view="ServerStatusSquares" data-title="Licences Stage"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="licences preprod" data-view="ServerStatusSquares" data-title="Licences Pre-Prod"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="licences prod" data-view="ServerStatusSquares" data-title="Licences Prod"></div>
    </li>
  </ul>
</div>
